<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      autoReload="true">

  <!--加载ASP.NET Core插件-->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!--输出目的地-->
  <targets>

    <!--输出到文件,记录level为info的日志-->
    <!--换行${newline}-->
    <target xsi:type="File"
            name="info-file"
            layout="时间：${longdate}${newline}日志级别:|${uppercase:${level}}|${event-properties:item=EventId.Id}${newline}位置：${callsite:className=True:methodName=True:fileName=True:includeSourcePath=True:skipFrames=1}${newline}${message}${newline}${exception}${newline}"
            fileName="D:\WitCode\Logfiles\Api\info-${shortdate}.log"
            archiveFileName="D:\WitCode\Logfiles\info-${shortdate}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            maxArchiveFiles="100000"
            keepFileOpen="false"
    />
    
    <!--输出到文件,记录level为error的日志-->
    <target xsi:type="File"
            name="error-file"
            layout="时间：${longdate}${newline}日志级别:|${uppercase:${level}}|${event-properties:item=EventId.Id}${newline}位置：${callsite:className=True:methodName=True:fileName=True:includeSourcePath=True:skipFrames=1}${newline}${message}${newline}${exception}${newline}"
            fileName="D:\WitCode\Logfiles\Api\error-${shortdate}.log"
            archiveFileName="D:\WitCode\Logfiles\error-${shortdate}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            maxArchiveFiles="100000"
            keepFileOpen="false"
    />
    <!--输出到文件,记录level为debug的日志-->
    <target xsi:type="File"
            name="debug-file"
            layout="时间：${longdate}${newline}日志级别:|${uppercase:${level}}|${event-properties:item=EventId.Id}${newline}位置：${callsite:className=True:methodName=True:fileName=True:includeSourcePath=True:skipFrames=1}${newline}${message}${newline}${exception}${newline}"
            fileName="D:\WitCode\Logfiles\Api\debug-${shortdate}.log"
            archiveFileName="D:\WitCode\Logfiles\debug-${shortdate}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            maxArchiveFiles="100000"
            keepFileOpen="false"
    />
    <!--输出到文件,记录level为fatal的日志-->
    <target xsi:type="File"
            name="fatal-file"
            layout="时间：${longdate}${newline}日志级别:|${uppercase:${level}}|${event-properties:item=EventId.Id}${newline}位置：${callsite:className=True:methodName=True:fileName=True:includeSourcePath=True:skipFrames=1}${newline}${message}${newline}${exception}${newline}"
            fileName="D:\WitCode\Logfiles\Api\fatal-${shortdate}.log"
            archiveFileName="D:\WitCode\Logfiles\fatal-${shortdate}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            maxArchiveFiles="100000"
            keepFileOpen="false"
    />
    <!--输出到文件,记录level为warn的日志-->
    <target xsi:type="File"
            name="warn-file"
            layout="时间：${longdate}${newline}日志级别:|${uppercase:${level}}|${event-properties:item=EventId.Id}${newline}位置：${callsite:className=True:methodName=True:fileName=True:includeSourcePath=True:skipFrames=1}${newline}${message}${newline}${exception}${newline}"
            fileName="D:\WitCode\Logfiles\Api\warn-${shortdate}.log"
            archiveFileName="D:\WitCode\Logfiles\warn-${shortdate}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            maxArchiveFiles="100000"
            keepFileOpen="false"
    />
    

    <!--write to the void aka just remove-->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!--写入目的地的规则-->
  <rules>
    <!-- 跳过以Microsoft.*开头的日志 -->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    
    <!--记录level为info的日志-->
    <logger name="*" level="Info" writeTo="info-file" />
    <!--未使用自定义日志级别，需改进-->
    <!--<logger name="*" level="Info" writeTo="users-file" />-->
    <!--记录level为error的日志-->
    <logger name="*" level="Error" writeTo="error-file" />

    <!--记录level为debug的日志-->
    <logger name="*" level="Debug" writeTo="Debug-file" />

    <!--记录level为fatal的日志-->
    <logger name="*" level="Fatal" writeTo="Fatal-file" />

    <!--记录level为warn的日志-->
    <logger name="*" level="Warn" writeTo="Warn-file" />
  

  </rules>
</nlog>